<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Block\Account\AuthenticationPopup" type="CustomModules\AjaxLogin\Block\Account\AuthenticationPopup" />

    <type name="Magento\Customer\Block\Account\AuthorizationLink">
        <plugin name="modify_signin_href" type="Magezil\AjaxLogin\Plugin\ModifySignInHrefPlugin" />
    </type>
</config>